* {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  text-align: center;
  line-height: 1.5em;
}

#map {
  height: 50%;
}

.main {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

#cords {
  margin: 20px 0px;
}
.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border-top: 1px solid lightgray;
  padding: 20px 0px;
  grid-gap: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.group input {
  width: 100%;
  padding: 10px;
  font-family: 'Helvetica';
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.latA, .longA {
  border: 1px solid rgba(240, 39, 39, .5);
}

.latB, .longB {
  border: 1px solid rgba(11, 134, 206, .5);
}

.radius {
  border: 1px solid rgba(0, 163, 14, .5);
}

button {
  padding: 8px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px 0px lightslategray;
}

button:hover {
  cursor: pointer
}

.calc {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px 0px;
}

.calc > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 10px;
  margin: 10px;
  align-items: center;
}

.label {
  display: block;
}

.calc input[type='number'] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  padding: 10px;
  font-family: 'Helvetica';
  border-radius: 0.25rem;
  border: 1px solid lightgray;
  margin: 0px 10px;
}

